* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2ch;
    background-color: rgb(245,245,245);
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height:100vh;
}

.icon {
    width: 1.5rem;
    height:1.5rem;
    align-self: center;
}

.avatarSmall {
    width:3rem;
    height:3rem;
    border-radius: 25%;
}

/* HEADER */
header {
    background-color: rgb(245,245,245);
    box-shadow: 15px 15px rgb(0, 0, 0);
    grid-column: 2/3;
}

.headerTop {
    display:flex;
    align-content: center;
    justify-content: space-between;
    margin:20px 2vw 20px 2vw;
}

.searchbar {
    display: flex;
    gap:2vw;
}

input[type="search"]{
    width:30vw;
    border-radius: 25px;
    border: none;
    background-color: rgb(186, 193, 210);
    height:2rem;
    align-self: center;
}

.user {
    display:flex;
    justify-content: space-between;
    gap:2vw;
    align-items: center;
}

.headerBottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 2vw 20px 2vw;
}

.userWelcome{
    display: flex;
    align-items: center;
    gap:20px;
}

h1 {
    font-size: 1.5rem;
}

.avatarBig {
    width:4rem;
    border-radius:25% ;
}

.userButtons{
    display: flex;
    flex-wrap: wrap;
    gap:2vw;
}

.userButtons > button {
    background-color: rgb(19, 66, 147);
    color:rgb(245,245,245);
    padding:10px 30px;
    border-radius: 25px;
    border:none;
    font-size: larger;
    font-weight: bold;
}

/* MAIN */
main {
    background-color: rgb(186, 193, 210);
    grid-column: 2/3;
}

.container {
    display: grid;
    gap:2vw;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:2vw;
    /* border:1px solid black; */
}

h2 {
    margin-bottom: 15px;
}

.projects {
    grid-row:1/3 ;
}

.projectsWrapper{
    display: grid;
    gap:2vw;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.project {
    background-color: rgb(245,245,245);
    border-radius: 5px;
    border-left: 10px solid rgb(19, 66, 147);
    padding:1.5vw;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.social {
    justify-self: right;
}

.announcementsFeed{
    background-color: rgb(245,245,245);
    border-radius: 5px;
    padding:1.5vw;
    font-size: 0.8rem;
}

.announcementsFeed > h4{
    padding-bottom: 2px;
}

hr {
    margin:20px 0;
    color:rgba(19, 66, 147, 0.23)
}

.otherAvatars{
    background-color: rgb(245,245,245);
    border-radius: 5px;
    padding:1.5vw;
    display: grid;
    gap:15px;
    grid-template-rows: repeat(4, 1fr);
}

.otherUser{
    display:flex;
    gap:1.5vw;
}

/* SIDEBAR */
.sidebar {
    background-color: rgb(19, 66, 147);
    grid-column: 1/2;
    grid-row: 1/3
}